body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.menu {
  position: fixed;
  display: flex;
  z-index: 1000;
  align-items: center;
  top: 0;
  width: 100%;
  padding: 10px 20px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease-in-out;
}

.menu-left {
  display: flex;
  gap: 15px;
}

.menu-right {
  display: flex;
  gap: 10px; 
  margin-left: auto;
  margin-right: 20px;
}

.menuOptions {
  font-size: 110%;
  text-decoration: none;
  color: black;
  text-align: center;
  margin: 0 10px;
  padding: 5px 10px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.menuOptions:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  transition: background 0.3s ease-in-out;
}


.scrolling-active .menu {
  width: 100%;
  background-color: rgba(249, 249, 249, 0.9);
}
.scrolling-active .menuOptions:hover {
  color: whitesmoke;
  background-color: black;
  transition: background 0.3s ease-in-out;
}


.logo {
  text-decoration: none;
}

.logo-image {
  height: 30px;
  width: auto;
  transition: transform 0.3s ease-in-out; 
}

.logo-image:hover {
  transform: scale(1.1);
}

.nav{
  display: none;
}

.footer-bottom{
  position: relative;
  bottom: 0px;
  width: 100%;
  height: auto;
  background-color: transparent;
  color: black;
  text-align: center;
  padding: 0%;
  font-size: 100%;
  font-style: italic;
}

.footer-social {
  margin: auto;
  margin-bottom: .5%;
  padding: auto;
  font-size: 32px;
  text-align: center;
}

.fa {
  text-align: center;
  color: whitesmoke;
  text-decoration: none;
  width: 50px;
  height: 30px;
  padding: 10px;
  border-radius: 15px;
}

#instagram:hover {
  background: linear-gradient(to top right, orange, red, purple);
  margin-top: .5px;
  transition: ease-in-out .5s;
}

.openMenuMobile {
  margin-top: 13px;
  margin-right: 20px;
  position: fixed;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: #000;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  
  background: -webkit-linear-gradient(left, #670000, #000000);
  background: linear-gradient(to right, #670000, #000000);
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
      padding-top: 15px;
  }
  .sidenav a {
      font-size: 18px;
  }
}


@media only screen and (min-width: 200px) and (max-width: 900px){

  .nav {
    display: flex;
  }
  #mySidenav {
    display: block;
  }
  .closebtnMobile {
      display: block;
  }
  .sidenav {
      display: block;
  }
  .openMenuMobile {
      display: block;
  }
  .menu {
      display: none;
  }
}

main {
    flex: 1;
    padding: 5rem 2rem 2rem 2rem;
    text-align: center;
}

.error-image {
  max-width: 100%;
  height: auto;
  border: 5px solid #ff6b6b;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  background-color: #fff;
}

@media (max-width: 600px) {
  .error-image {
    border: 3px solid #ff6b6b;
    padding: 5px;
  }


.slide_container{
  width: 100%;
  max-width: 800px;
  heigth: 500px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 1.25rem;
  transistion: all 400ms;
}

.image_card{
  flex: 1;
  height: 100%;
  transistion: all 400ms;
  cursor: pointer;
}

.image_card:nth-child(odd){
  translate: 0 -20px;
}
.image_card:nth-child(even){
  translate: 0 20px;
}
.slide_container:hover > 
.image_card: not(:hover){
  filter: grayscale(100%);
}
.image_card:hover{
  flex: 3;
}