<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="/static/Images/Logo/logo.png"  type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/script.js"></script>
</head>
<body>
    <div class="menu">
        <a href="/" class = "menuOptions">Home</a>   
        <a href="/matches" class = "menuOptions">Matches</a>
        <a href="/teams" class = "menuOptions">Teams</a>
        <a href="/players" class = "menuOptions">Players</a>
        <a href="/contact" class = "menuOptions">Contact</a>
        {% if user is not none and 'idToken' in user %}
        <a href="/fantasy" class = "menuOptions">Fantasy</a>
        <a href="/settings" class = "menuOptions">Settings</a>
        <a href="/logout" class = "menuOptions">Logout</a>
        {% else %}
        <a href="/signup" class = "menuOptions">Signup</a>
        <a href="/login" class = "menuOptions">LogIn</a>
        {% endif %}
    </div>


    <div class="nav">
        <div id="mySidenav" class="sidenav" style="z-index:4;">
            <a href="javascript:void(0)" class="closebtnMobile" onclick="closeMobileNav()">&times;</a>
            <a href="/">Home</a>
            <a href="/matches ">Matches</a>
            <a href="/teams">Teams</a>
            <a href="/players">Players</a>
            <a href="/contact">Contact</a>
            {% if user is not none and 'idToken' in user %}
            <a href="/fantasy" class = "menuOptions">Fantasy</a>
            <a href="/settings" class = "menuOptions">Settings</a>
            <a href="/logout" class = "menuOptions">Logout</a>
            {% else %}
            <a href="/signup" class = "menuOptions">Signup</a>
            <a href="/login" class = "menuOptions">Log In</a>
            {% endif %}
        </div>
        <span style="font-size:30px;cursor:pointer; margin-left:3%; color: #8B0000; z-index:3;" class="openMenuMobile" onclick="openMobileNav()">&#9776;</span>
        
    </div>
    
    <main>
        {% block content %}{% endblock %}
    </main>
    
    <footer class="footer">    
        <div class="footer-social ">
            <a id="instagram" href="https://www.instagram.com/ifl_haverford/" target="_blank" class="fa fa-instagram"></a>
        </div>
        <div class="footer-bottom">
            <em> &copy; 2024 </em>
        </div>    
    </footer>
</body>
</html>