{% extends "base.html" %}

{% block title %}Fantasy{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/fantasy.css">

{% if user is not none and 'user_id' in user.keys() %}
{% endif %}
{% if True %}
    <div class='container'>
        <h4 class='mw'>Matchweek {{data['MW']}}</h4>
        <h2 class='title'>IFL Fantasy</h2>
        <h4 class='subtitle'>{{data['Name']}}'s Team</h4>
        <div class='points-container'>
            <div class='points'>
                <h1 class='pt'>{{data['Average']}}</h1>
                <h4 class='pt-label'>Average</h4>
            </div>
            <div class='points'>
                <h1 class='pt'>{{data['curr_pts']}}</h1>
                <h4 class='pt-label'>My Points</h4>
            </div>
            <div class='points'>
                <h1 class='pt'>{{data['record']}}</h1>
                <h4 class='pt-label'>Record</h4>
            </div>
        </div>
        <hr>
    </div>
{% else %}
    <h1>Please login to access this page</h1>
{% endif %}

<style>
    

</style>

{% endblock %}