{% extends "base.html" %}

{% block title %}Fantasy{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/table.css">
<link rel="stylesheet" href="/static/displays.css">
<link rel="stylesheet" href="/static/fantasy.css">

{% if user is not none and 'user_id' in user.keys() %}
    <div class='container'>
        <h4 class='mw'>Matchweek {{data['MW']}}</h4>
        <h2 class='title'>IFL Fantasy</h2>
        <h4 class='subtitle'>{{data['Name']}}'s Team</h4>
        <div class='points-container'>
            <div class='points'>
                <h1 class='pt'>{{data['Average']}}</h1>
                <h4 class='pt-label'>Average</h4>
            </div>
            <div class='points'>
                <h1 class='pt'>{{data['curr_pts']}}</h1>
                <h4 class='pt-label'>My Points</h4>
            </div>
            <div class='points'>
                <h1 class='pt'>{{data['record']}}</h1>
                <h4 class='pt-label'>Record</h4>
            </div>
        </div>
        <hr style='margin-top: 1rem;'>
        <div class='deadline'>
            <h3>Next - Matchweek {{data['MW']+1}}</h3>
            <div class='vertic-line'></div>
            <span class='deadline-time'> Deadline: {{data['Deadline']}} @ Midnight</span>
        </div>
        
        <hr style='margin-bottom: 1rem;'>

        <div class="options-container">
            <div class="option" id="team-option" onclick="showContent('team')">My Team</div>
            <div class="option" id="manage-team-option" onclick="showContent('manage-team')">Manage Team</div>
            <div class="option" id="standings-option" onclick="showContent('standings')">Standings</div>
            <div class="option" id="previous-weeks-option" onclick="showContent('previous-weeks')">Previous Weeks</div>
        </div>

        <div id="team" class="fantasy-content">
            <div class='team-section'>
                <div class="team">
                    <div class="team-sec">
                        {% for player in data['team'][0:2] %}
                        <div class="player">
                            <div class="shirt">
                                <img src="/static/Images/Elements/shirt.png" alt="Shirt">
                                <p class="number">{{ player[1] }}</p>
                            </div>
                            <p class="name">{{ player[0] }}</p>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="team-sec">
                        {% for player in data['team'][2:4] %}
                        <div class="player">
                            <div class="shirt">
                                <img src="/static/Images/Elements/shirt.png" alt="Shirt">
                                <p class="number">{{ player[1] }}</p>
                            </div>
                            <p class="name">{{ player[0] }}</p>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="team-sec">
                        {% set player = data['team'][-1]%}
                        <div class="player">
                            <div class="shirt">
                                <img src="/static/Images/Elements/shirt.png" alt="Shirt">
                                <p class="number">{{ player[1] }}</p>
                            </div>
                            <p class="name">{{ player[0] }}</p>
                        </div>
                    </div>
                </div>

                <div class="team-stats">
                    <h3>Team Stats</h3>
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Pos</th>
                                <th>Team</th>
                                <th>MW Points</th>
                                <th>MW Points</th>
                                <th>Total Points</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="6">Starting Team</td>
                            </tr>
                            {% for player in data['starting_team'] %}
                                <tr>
                                    <td>{{ player.name }}</td>
                                    <td>{{ player.pos }}</td>
                                    <td>{{ player.team }}</td>
                                    <td>{{ player.mw_points }}</td>
                                    <td>{{ player.mw_points }}</td>
                                    <td>{{ player.total_points }}</td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="6">Bench</td>
                            </tr>
                            {% for player in data['bench'] %}
                                <tr>
                                    <td>{{ player.name }}</td>
                                    <td>{{ player.pos }}</td>
                                    <td>{{ player.team }}</td>
                                    <td>{{ player.mw_points }}</td>
                                    <td>{{ player.mw_points }}</td>
                                    <td>{{ player.total_points }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                

            </div>
        </div>

        <div id="manage-team" class="fantasy-content" style="display: none;">
            
            <div class='transfers'>
                <form action="/fantasy/update-team" method="post">
                    <h3>Make Substitution</h3>
                    <div class='transfers-container'>
                        <div class='transfers-section'>
                            <h4>Starting Team</h4>
                            <div class='transfers-list'>
                                <select name='starting_team'>
                                    {% for player in data['starting_team'] %}
                                        <option value="{{ player.name }}">{{ player.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class='transfers-section'>
                            <h4>Bench</h4>
                            <div class='transfers-list'>
                                <select name='bench'>
                                    {% for player in data['bench'] %}
                                    <option value="{{ player.name }}">{{ player.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <button class='btn' id='substitution-btn'>Make Substitution</button>
                </form>

                <hr class='transfers-hr'>
                <form action="/fantasy/transfer-team" method="post">
                    <h3>Make Transfers</h3>
                    <div class='transfers-container'>
                        <div class='transfers-section'>
                            <h4>My players</h4>
                            <div class='transfers-list'>
                                <select name='my_player'>
                                    {% for player in data['starting_team'] + data['bench'] %}
                                    <option value="{{ player.name }}">{{ player.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class='transfers-section'>
                            <h4>All Fantasy players</h4>
                            <div class='transfers-list'>
                                <select name='new_player'>
                                    {% for player in data['starting_team'] + data['bench'] %}
                                    <option value="{{ player.name }}">{{ player.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <button class='btn' id='transfer-btn'>Make Transfer</button>
                </form>
            </div>

        </div>

        <div id="standings" class="fantasy-content" style="display: none;"></div>
        <div id="previous-weeks" class="fantasy-content" style="display: none;"></div>

    </div>
    
{% else %}
    <h1>Please login to access this page</h1>
{% endif %}

<script>

    let activeContent = 'team';

    function showContent(section) {
        document.getElementById('team').style.display = 'none';
        document.getElementById('manage-team').style.display = 'none';
        document.getElementById('standings').style.display = 'none';
        document.getElementById('previous-weeks').style.display = 'none';

        document.getElementById(section).style.display = 'block';

        document.getElementById('team-option').classList.remove('active');
        document.getElementById('manage-team-option').classList.remove('active');
        document.getElementById('standings-option').classList.remove('active');
        document.getElementById('previous-weeks-option').classList.remove('active');

        document.getElementById(`${section}-option`).classList.add('active');
        
        activeContent = section;
    }

    document.addEventListener('DOMContentLoaded', function() {
        showContent('team');
    });
</script>



{% endblock %}