{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/slides.css">
<link rel="stylesheet" href="/static/message-form.css">

<script src="/static/slide.js" defer></script>
<section class="hero">
    <div class="hero-content">
        <h1>Haverford Intramural Futsal League</h1>
        <!-- <h3>Sign up for Season 5 now!</h3>
        <button onclick="window.open('https://forms.gle/CjgS5iddyMSUkd8m9', '_blank')" class="btn" disabled>Register</button> -->
    </div>
</section>

<hr>

<br>
<br>
<div class="video-section">
    <h1>IFL Promotional Video</h1>
    <br>
    <div class="video-container">
        <video controls autoplay loop muted>
            <source src="/static/Videos/Promotional/futsal_trailer.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div> 
</div>

<br>
<br>
<hr>

<h1 style="margin-bottom:-6rem;">IFL Champions</h1>
<div class="content-width">
    <div class="slideshow">
      <div class="slideshow-items">
        <div class="item">
          <div class="item-image-container">
            <img class="item-image" src="/static/Images/champs/1.jpg" />
          </div>
          <div class="item-header">
            <span class="vertical-part"><b>TEAM MUNCH</b></span>
          </div>
          <div class="item-description">
            <span class="vertical-part">
              <b style='font-size:2rem;'>Season 1</b>
            </span>     
            <span class="vertical-part">
              <b>We would like to Congratulate our Inaugural IFL Champions Meunch FC for a resounding 7-2 Victory against a valiantly performing Brixton side. It was an absolute show, with some amazing goals, fans, commentary, and skill on display!!! Incredible final, and an incredible win from the all freshman team. Thank you to everyone who contributed to this finale!</b>
            </span>     
          </div>
        </div>
        <div class="item">
          <div class="item-image-container">
            <img class="item-image" src="/static/Images/champs/2.jpg" />
          </div>
          <div class="item-header">
            <span class="vertical-part"><b>TEAM MUNCH</b></span>
          </div>
          <div class="item-description">
            <span class="vertical-part">
              <b style='font-size:2rem;'>Season 2</b>
            </span>
            <span class="vertical-part">
              <b>Brixton were there with a vengeance. Some crucial saves by Ben, and a tight counter pressing game kept Brixton high up on the pitch and looking forward, able to fight back when Behind. Meunch kept their cool, epitomized by Krishs sensational Volley for Meunchs second. With a minute of regular time left, Meunch reacted to Brixtons fight back with a knock-out punch on the Bullies.</b>
            </span>
          </div>
        </div>
        <div class="item">
          <div class="item-image-container">
            <img class="item-image" src="/static/Images/champs/3.jpg" />
          </div>
          <div class="item-header">
            <span class="vertical-part"><b>TEAM MUNCH</b></span>
          </div>
          <div class="item-description">
            <span class="vertical-part">
              <b style='font-size:2rem;'>Season 3</b>
            </span>
            <span class="vertical-part">
              <b>There was an incredible atmosphere and support for our finalists and the final matched the intensity. Munch played an incredible press to take and hold an early lead with Owen finding the key breakthroughs. BNC played some beautiful stuff but could not find a way past James in goal who keeps the first finals clean sheet. High quality possession and some great skill saw a show which ended with MCHs IFL 3-peat!</b>
            </span>
          </div>
        </div>
        <div class="item">
          <div class="item-image-container">
            <img class="item-image" src="/static/Images/champs/4.jpg" />
          </div>
          <div class="item-header">
            <span class="vertical-part"><b>BRIXTON &nbsp</b></span>
            <span class="vertical-part"><b>BULLIES</b></span>
          </div>
          <div class="item-description">
            <span class="vertical-part">
              <b style='font-size:2rem;'>Season 4</b>
            </span>
            <span class="vertical-part">
              <b>And..... Time! Its third time lucky for the Brixton Bullies who played some fluid, brilliant, futsal, putting a spear through Munchs hopes of a 4-peat. Bangers from Isaiah and Alex, served up by Amartya, see the Bullies lift the biggest trophy in what is, for many, their last dance.</b>
            </span>
          </div>
        </div>
      </div> 
      <div class="controls">
        <ul>
          <li class="control" data-index="0"></li>
          <li class="control" data-index="1"></li>
          <li class="control" data-index="2"></li>
          <li class="control" data-index="3"></li>
        </ul>
      </div>
    </div>
</div>

<h1 class='stats'>Stats Leaders</h1>
<br>
<div class='stats-leaders'>
    <div class='leader'>
        <h3>Rami Nasr</h3>
        <a href="/players/Rami Nasr" target="_blank">
            <img src="/static/Images/POTM/140.png" alt="Rami Nasr"/>
        </a>
        <h3>64 Goals</h3>
    </div>
    
    <div class='leader'>
        <h3>Ishan Deb</h3>
        <a href="/players/Ishan Deb" target="_blank">
            <img src="/static/Images/POTM/158.png" alt="Ishan Deb"/>
        </a>
        <h3>31 Assists</h3>
    </div>
    
    <div class='leader'>
        <h3>Ben Mansfield</h3>
        <a href="/players/Ben Mansfield" target="_blank">
            <img src="/static/Images/POTM/22.png" alt="Ben Mansfield"/>
        </a>
        <h3>204 Saves</h3>
    </div>

</div>
<br>

<hr>

<br>
<a href="/static/IFL_Rule_Book.pdf" download>
  <button class='btn'>Download IFL Rule Book</button>
</a>

<style>
.stats{
    margin-top: -10vw;
}
.hero {
    position: relative;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-align: center;
    overflow: hidden; 
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/static/Images/Elements/background_1.jpg') no-repeat center center/cover;
    filter: blur(5px);
    z-index: -1;
}

.hero-content {
    filter: blur(0);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
}
.hero-content h1 {
    font-size: 3em;
    margin: 0;
}

.video-section {
    background-color: #fff;
    text-align: center;
}

.video-container video {
    width: 50%;
    max-width: 50%;
    height: auto;
    border-radius: 10px;
    border: 2px outset #670000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.video-container {
    flex: 1;
}

.video-section h3 {
    text-align: center;
    color: #670000;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .video-container video {
        max-width: 100%;
        width: 20rem;
        height: 12rem;
    }
}

.stats-leaders {
    margin-top: -30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
  }
  
  .leader {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px outset #670000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    padding: 0.1rem;
    width: 17rem;
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  .leader a {
    text-decoration: none;
    color: inherit;
  }
  
  .leader img {
    width: 15rem;
  
  }
  
  .leader h3 {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    color: #333;
  }
  
  .leader:hover {
    transform: translateY(-0.5rem);
  }
  
  @media (max-width: 48rem) {
    .stats-leaders {
      flex-direction: column;
      align-items: center;
    }
  }
    
</style>

{% endblock %}
