{% extends "base.html" %}

{% block title %}{{match_details[0]}} v {{match_details[1]}} (Match {{match_details[2]}}){% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/table.css">
<link rel="stylesheet" href="/static/displays.css">

<h2 style='text-align: left; opacity:0.25; margin-left:1rem;'>{{match_data[0]['Time']}}</h2>
<div class="match-header">
    <div class="team">
        <img src="/static/Images/Logo/logo.png" alt="Logo" class="match-image" />
        <h1>{{match_details[0]}}</h1>
    </div>
    <h2>{{match_data[0]['Goals']}}</h2>

    <hr class='match-separator'>

    <h2>{{match_data[1]['Goals']}}</h2>
    <div class="team">
        <img src="/static/Images/Logo/logo.png" alt="Logo" class="match-image" />
        <h1>{{match_details[1]}}</h1>
    </div>
</div>

<hr>

<div class="options-container">
    <div class="option" id="match_option" onclick="showContent('match_stats')">MATCH STATS</div>
    <div class="option" id="team1_option" onclick="showContent('team1_stats'); generateTable('team1_stats', '{{match_details[0]}}')">{{match_details[0]}}</div>
    <div class="option" id="team2_option" onclick="showContent('team2_stats'); generateTable('team2_stats', '{{match_details[1]}}')">{{match_details[1]}}</div>
</div>


<div id="match_stats" class="content">
    <div class='team1'>
        <h4>{{match_details[0]}}</h4>
        {% for key, value in match_data[0].items() %}
            {% if key != 'Goals' and key != 'Goals Allowed' %}
                <p>{{value}}</p>
            {% endif %}
        {% endfor %}
    </div>
    <div class='stat-name'>
        <h4>TEAM STATS</h4>
        {% for key, value in match_data[0].items() %}
            {% if key != 'Goals' and key != 'Goals Allowed' %}
                <p>{{key}}</p>
            {% endif %}
        {% endfor %}
    </div>
    <div class='team2'>
        <h4>{{match_details[1]}}</h4>
        {% for key, value in match_data[1].items() %}
            {% if key != 'Goals' and key != 'Goals Allowed' %}
                <p>{{value}}</p>
            {% endif %}
        {% endfor %}
    </div>
</div>


<div id="team1_stats" class="content" style="display: none;"></div>
<div id="team2_stats" class="content" style="display: none;"></div>

{% if potm %}
    <h2 style='margin-top: 50px;margin-bottom: 8px;'>Player of the Match</h2>
    <a href="/players/{{potm['Name']}}" target="_blank">
        <img src="/static/Images/POTM/{{ potm['Match Number (All Seasons)'] }}.png" alt="{{potm['Name']}}" class="potm-image"/>
    </a>
{% endif %}

<script>
    let activeContent = 'match_stats';

    function showContent(section) {
        document.getElementById('match_stats').style.display = 'none';
        document.getElementById('team1_stats').style.display = 'none';
        document.getElementById('team2_stats').style.display = 'none';
        
        if (section == 'match_stats') {
            document.getElementById(section).style.display = 'grid';
        } else {
            document.getElementById(section).style.display = 'block';
        }

        document.getElementById('match_option').classList.remove('active');
        document.getElementById('team1_option').classList.remove('active');
        document.getElementById('team2_option').classList.remove('active');

        let activeTag = section.split('_')[0];
        document.getElementById(`${activeTag}_option`).classList.add('active');
        
        activeContent = section;
    }

    function generateTable(team_id, team) {
        let playerData = {{player_data | tojson}};
        const columns = ['Name', 'P', 'G', 'A', 'S', 'Y-R'];
        const headers = ['Starters', 'Subs', 'External Players'];
    
        let content = '';
    
        for (let index = 0; index < 3; index++) {
            let teamData = playerData[team][index];
    
            if (teamData.length > 0) {
                let headerContent = '<table cellpadding="0" cellspacing="0" border="0"><tr>';
                columns.forEach(col => {
                    headerContent += `<th style='margin-right:10px;'>${col}</th>`;
                });
                headerContent += '</tr></table>';
    
                let bodyContent = '<table cellpadding="0" cellspacing="0" border="0">';
                teamData.forEach(player => {
                    bodyContent += '<tr onclick="window.open(\'/players/' + player['Name'] + '\', \'_blank\')">';
                    columns.forEach(col => {
                        let value = player[col];
                        if (value.length > 18) {
                            value = value.substring(0, 18);
                        }
                        bodyContent += `<td>${value}</td>`;
                    });
                    bodyContent += '</tr>';
                });
                bodyContent += '</table>';
    
                content += `
                    <h2>${headers[index]}</h2>
                    <div class="table1">
                        <div class="tbl-header">
                            ${headerContent}
                        </div>
                        <div class="tbl-content">
                            ${bodyContent}
                        </div>
                    </div>
                `;
            }
        }
        document.getElementById(`${team_id}`).innerHTML = content;
    }

    document.addEventListener('DOMContentLoaded', function() {
        showContent(activeContent);
    });

</script>

{% endblock %}
