{% extends "base.html" %}
{% block title %}Matches{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/table.css">
<link rel="stylesheet" href="/static/displays.css">

<h1>Upcoming Matches </h1>
<h4>(subject to change)</h4>

<br>
{% for match_day in upcoming_matches_data['data'] %}
  <h2>Matchday {{match_day}} of {{upcoming_matches_data['Max']}}</h2>
  <div class='results'>
    {% for match in upcoming_matches_data['data'][match_day] %}
      <div class="individual-match">
        <div class="team-score"> 
          <p class="team">{{match['Team 1']}}</p>
          <p class="team">{{match['Team 2']}}</p> 
        </div>
        <div class="separator"></div>  
        <div class="time size">{{match['Day']}} <br> {{match['Time']}}</div>
      </div>
    {% endfor %}
  </div>
{% endfor %}
<br>

<div class="sec-center"> 	
  <input class="dropdown" type="checkbox" id="dropdown" name="dropdown"/>
  <label class="for-dropdown" for="dropdown"> SEASONS &nbsp;<span style='font-size:20px;'>&#8681;</span></i></label>
  
  <div class="section-dropdown"> 
    {% for season in range(1, current_season+1) %}
    <a href="/matches/{{season}}">Season {{ season }}</i></a>
    {% endfor %}
  </div>

</div>

<br>

<h1> Season {{ active_season }} </h1>
<br>
<h2> Standings</h2>
<br>
<div class="table1">
  {% for group in groups %}
    <h2>Group {{ group[0]['Group'] }}</h2>
    <br>
    <div class="tbl-content">
      <table cellpadding="0" cellspacing="0" border="1" frame="hsides" rules="rows">
        <thead class='tbl-header'> 
          <tr>
            <th class='tbl-col1'>Club</th>
            <th>MP</th>
            <th>W</th>
            <th>D</th>
            <th>L</th>
            <th>GF</th>
            <th>GA</th>
            <th>GD</th>
            <th><b>PTS</b></th>
            <th>Last 5</th>
          </tr>
        </thead>
        <tbody>
          {% for team in group %}
            <tr onclick="window.open('/teams/{{team['Team']}}', '_blank')">
              <td class='tbl-col1'>{{ team["Team"] }}</td>
              <td>{{ team["MP"] }}</td>
              <td>{{ team["W"] }}</td>
              <td>{{ team["D"] }}</td>
              <td>{{ team["L"] }}</td>
              <td>{{ team["GF"] }}</td>
              <td>{{ team["GA"] }}</td>
              <td>{{ team["GD"] }}</td>
              <td><b>{{ team["PTS"] }}</b></td>
              <td><b>
                {% for result in team['L5'] %}
                  {% if result == 'W' %}
                    <img src="/static/Images/Elements/win.svg" alt="W">
                  {% elif result == 'L' %}
                    <img src="/static/Images/Elements/loss.svg" alt="L">
                  {% elif result == 'D' %}
                    <img src="/static/Images/Elements/dash.svg" alt="L">
                  {% else %}
                    <img src="/static/Images/Elements/blank.svg" style="max-width:22px; max-height:22px;" alt="-">
                  {% endif %}
                {% endfor %}
              </b></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <br>
    <br>
  {% endfor %}
</div>

<br>
<hr>
<br>

<h1>Previous Matches</h1>
{% for match_type in matches_data %}
  <br>
  {% if match_type != 'Playoff'%}
    <h2>Group {{ match_type }} Matches</h2>
  {%else%}
    <h2>{{ match_type }} Matches</h2>
  {% endif %}

  <div class="results">
    {% for match in matches_data[match_type] %}
      <a href="/teams/{{ match['Team 1'] }}/{{ match['Team 1'] }}-{{ match['Team 2'] }}-{{ match['Match ID'] }}" style="text-decoration: none; color: inherit;" target="_blank">
        <div class="individual-match">
          <div class="team-score"> 
            {% if match['Win Team 1'] == 1 %} 
              <b><p class="team">{{match['Team 1']}}</p></b> 
              <p class="team">{{match['Team 2']}}</p> 
            {% elif match['Win Team 2'] == 1 %} 
              <p class="team">{{match['Team 1']}}</p> 
              <b><p class="team">{{match['Team 2']}}</p></b> 
            {% else %} 
              <p class="team">{{match['Team 1']}}</p> 
              <p class="team">{{match['Team 2']}}</p> 
            {% endif %} 
          </div>

          <div class='team-score'>
            {% if match['Red Card Team 1'] == 1 %}
              <img class='team red-card' src='/static/Images/Elements/red-card.png'alt="&#9632;"></span>
            {% else %}
              <img class='invisible' src='/static/Images/Elements/red-card.png'alt="&#9632;"></span>
            {% endif %}
            <br>
            <br>
            {% if match['Red Card Team 2'] == 1 %}
              <img class='team red-card' src='/static/Images/Elements/red-card.png'alt="&#9632;"></span>
            {% else %}
              <img class='invisible' src='/static/Images/Elements/red-card.png'alt="&#9632;"></span>
            {% endif %}
          </div>

          <div class="separator"></div>
          <div class="team-score"> 
            {% if match['Win Team 1'] == 1 %} 
              <b><p class="score">{{match['Score Team 1']}}&#9666;</p></b> 
              <p class="score">{{match['Score Team 2']}}<span class="invisible">&#9666;</span></p> 
            {% elif match['Win Team 2'] == 1 %} 
              <p class="score">{{match['Score Team 1']}}<span class="invisible">&#9666;</span></p> <b>
              <p class="score">{{match['Score Team 2']}}&#9666;</p></b> 
            {% else %} 
              <p class="score">{{match['Score Team 1']}}</p> 
              <p class="score">{{match['Score Team 2']}}</p> 
            {% endif %} 
          </div>
          
          <div class="time">{{match['Time']}}</div>
        </div>
      </a>
    {% endfor %}
  </div>
{% endfor %}

{% endblock %}
