{% extends "base.html" %}
{% block title %}Matches{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/table.css">
<h1>Match Schedule</h1>
<p>Details about matches will go here.</p>
<div class = "screen">
    <br>
    <h2>League Table</h2>
    <div class="table1">
        
            <h1>Group A</h1>
            <div class="tbl-header">
              <table cellpadding="0" cellspacing="0" border="0">
                <thead>
                  <tr>
                    <th>Club</th>
                    <th>MP</th>
                    <th>W</th>
                    <th>D</th>
                    <th>L</th>
                    <th>GF</th>
                    <th>GA</th>
                    <th>GD</th>
                    <th>Pts</th>
                  </tr>
                </thead>
              </table>
            </div>
            <div class="tbl-content">
              <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                  <tr>
                    <td>BBL</td>
                    <td>6</td>
                    <td>5</td>
                    <td>0</td>
                    <td>1</td>
                    <td>51</td>
                    <td>13</td>
                    <td>38</td>
                    <td>15</td>
                    
                  </tr>
                  <tr>
                    <td>BNC</td>
                    <td>5</td>
                    <td>4</td>
                    <td>0</td>
                    <td>1</td>
                    <td>24</td>
                    <td>11</td>
                    <td>13</td>
                    <td>12</td>
                    
                  </tr>
                  <tr>
                    <td>NPC</td>
                    <td>4</td>
                    <td>3</td>
                    <td>0</td>
                    <td>1</td>
                    <td>30</td>
                    <td>8</td>
                    <td>22</td>
                    <td>9</td>
                  </tr>
                  <tr>
                    <td>SFA</td>
                    <td>5</td>
                    <td>2</td>
                    <td>0</td>
                    <td>3</td>
                    <td>17</td>
                    <td>23</td>
                    <td>-6</td>
                    <td>6</td>
                  </tr>
                  <tr>
                    <td>TOE</td>
                    <td>6</td>
                    <td>2</td>
                    <td>0</td>
                    <td>4</td>
                    <td>11</td>
                    <td>50</td>
                    <td>-39</td>
                    <td>6</td>
                  </tr>
                  <tr>
                    <td>SHT</td>
                    <td>6</td>
                    <td>1</td>
                    <td>0</td>
                    <td>4</td>
                    <td>6</td>
                    <td>18</td>
                    <td>-12</td>
                    <td>3</td>
                  </tr>
                  <tr>
                    <td>CSW</td>
                    <td>5</td>
                    <td>1</td>
                    <td>0</td>
                    <td>4</td>
                    <td>10</td>
                    <td>26</td>
                    <td>-16</td>
                    <td>3</td> 
                  </tr>
                </tbody>
              </table>
            </div>
          
    </div>




    <div class="table2">
        
            <h1>Group B</h1>
            <div class="tbl-header">
              <table cellpadding="0" cellspacing="0" border="0">
                <thead>
                  <tr>
                    <th>Club</th>
                    <th>MP</th>
                    <th>W</th>
                    <th>D</th>
                    <th>L</th>
                    <th>GF</th>
                    <th>GA</th>
                    <th>GD</th>
                    <th>Pts</th>
                  </tr>
                </thead>
              </table>
            </div>
            <div class="tbl-content">
              <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                  <tr>
                    <td>BBL</td>
                    <td>6</td>
                    <td>5</td>
                    <td>0</td>
                    <td>1</td>
                    <td>51</td>
                    <td>13</td>
                    <td>38</td>
                    <td>15</td>
                    
                  </tr>
                  <tr>
                    <td>BNC</td>
                    <td>5</td>
                    <td>4</td>
                    <td>0</td>
                    <td>1</td>
                    <td>24</td>
                    <td>11</td>
                    <td>13</td>
                    <td>12</td>
                    
                  </tr>
                  <tr>
                    <td>NPC</td>
                    <td>4</td>
                    <td>3</td>
                    <td>0</td>
                    <td>1</td>
                    <td>30</td>
                    <td>8</td>
                    <td>22</td>
                    <td>9</td>
                  </tr>
                  <tr>
                    <td>SFA</td>
                    <td>5</td>
                    <td>2</td>
                    <td>0</td>
                    <td>3</td>
                    <td>17</td>
                    <td>23</td>
                    <td>-6</td>
                    <td>6</td>
                  </tr>
                  <tr>
                    <td>TOE</td>
                    <td>6</td>
                    <td>2</td>
                    <td>0</td>
                    <td>4</td>
                    <td>11</td>
                    <td>50</td>
                    <td>-39</td>
                    <td>6</td>
                  </tr>
                  <tr>
                    <td>SHT</td>
                    <td>6</td>
                    <td>1</td>
                    <td>0</td>
                    <td>4</td>
                    <td>6</td>
                    <td>18</td>
                    <td>-12</td>
                    <td>3</td>
                  </tr>
                  <tr>
                    <td>CSW</td>
                    <td>5</td>
                    <td>1</td>
                    <td>0</td>
                    <td>4</td>
                    <td>10</td>
                    <td>26</td>
                    <td>-16</td>
                    <td>3</td> 
                  </tr>
                </tbody>
              </table>
            </div>
          
    </div>




</div>
{% endblock %}
