{% extends "base.html" %}

{% block title %}Players{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/displays.css">

<h1>Player Search</h1> 
<form method="get" action="/player_search"> 
    <input type="text" name="query" id="search"> 
    <input type="submit" value="Search">
</form>

<div class="results"> 
    {% if count > 0 %} 
        {% for player in Players %}
        <div class="stats result-card">
            <a href="/players/{{player['Name']}}" style="text-decoration: none; color: inherit;">
                <h3>{{player["Name"]}}</h3>
                <h4>Team: {{player["Team(s)"][-5:-2]}}</h4>
            </a>
        </div>
        {%endfor%}
    {% else %}
        <p>No players found.</p>
    {% endif %}
</div>

{% endblock %}
