{% extends "base.html" %}

{% block title %}Teams{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/displays.css">
<h1>Team Search</h1> 
<form method="get" action="/team_search"> 
    <input type="text" name="query" id="search", placeholder="Enter team acronymn"> 
    <input type="submit" value="Search">
</form>

<div class="results"> 
    {% if count > 0 %} 
        {% for team in Teams %}
        <div class="stats result-card">
            <a href="/teams/{{team['Name']}}" style="text-decoration: none; color: inherit;">
                <h3>{{team["Name"]}}</h3>
                <h4>Rating: {{team['Rating']}}</h4>
            </a>
        </div>        
        {%endfor%}
    {% else %}
        <p>No Team found.</p>
    {% endif %}
</div>
<style>
    

</style>
{% endblock %}
