{% extends "base.html" %}

{% block title %}{{team}} Team{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/table.css">
<link rel="stylesheet" href="/static/displays.css">

<h1>{{team}} TEAM</h1>
<h2>Rating: {{data["Rating"]}}/Rank: {{data["Rank"]}}</h2>

<div class="sec-center">    
    <input class="dropdown" type="checkbox" id="dropdown" name="dropdown"/>
    <label class="for-dropdown" for="dropdown"> SEASONS &nbsp;<span style='font-size:20px;'>&#8681;</span></label>
    
    <div class="section-dropdown"> 
        {% for season in seasons_played %}
            <a href="javascript:void(0)" onclick="showSeason('{{season}}'); hideDropdown();">Season {{ season }}</a>
        {% endfor %}
    </div>
</div>

<div class="options-container">
    <div class="option" id="results-option" onclick="showContent('results')">Match Results</div>
    <div class="option" id="standings-option" onclick="showContent('standings')">Standings</div>
    <div class="option" id="players-option" onclick="showContent('players')">Players</div>
</div>

<hr>

<div id="results" class="content"></div>
<div id="standings" class="content" style="display: none;"></div>
<div id="players" class="content" style="display: none;"></div>

<script>
    const standingsData = {{ standings_data | tojson }};
    const matchesData = {{ matches_data | tojson }};
    const playersData = {{ players_data | tojson }};
    let activeSeason = '{{ seasons_played|max }}';
    let activeContent = 'results';

    function showContent(section) {
        document.getElementById('results').style.display = 'none';
        document.getElementById('standings').style.display = 'none';
        document.getElementById('players').style.display = 'none';

        document.getElementById(section).style.display = 'block';

        document.getElementById('results-option').classList.remove('active');
        document.getElementById('standings-option').classList.remove('active');
        document.getElementById('players-option').classList.remove('active');

        document.getElementById(`${section}-option`).classList.add('active');
        
        activeContent = section;
        updateContent(section);
    }

    function showSeason(season) {
        activeSeason = season;
        showContent(activeContent);
    }

    function hideDropdown() {
        document.getElementById('dropdown').checked = false;
    }

    function updateContent(section) {
        if (section === 'results') {
            const matches = matchesData[activeSeason];
            let content = `<h2>Season ${activeSeason} Matches</h2><div class="results">`;
            matches.forEach(match => {
                content += `<a href="${match['Team']}/${match['Team']}-${match['Opponent']}-${match['Match']}" style="text-decoration: none; color: inherit;">
                                <div class="individual-match">
                                    <div class="team-score">
                                        <p class="team">${match['Team']}</p>
                                        <p class="team">${match['Opponent']}</p>
                                    </div>
                                    <div class="separator"></div>
                                    <div class="team-score">
                                        <p class="score">${match['Goals']}</p>
                                        <p class="score">${match['Goals Allowed']}</p>
                                    </div>
                                    <div class="time">${match['Time']}</div>
                                </div>
                            </a>`;
            });
            content += `</div>`;
            document.getElementById('results').innerHTML = content;

        } else if (section === 'standings') {
            const standings = standingsData[activeSeason];
            let content = `<h2>Season ${activeSeason} Standings</h2>
                <div class="table1">
                    <div class="tbl-header">
                        <table cellpadding="0" cellspacing="0" border="0">
                            <thead>
                                <tr>
                                    <th>Club</th>
                                    <th>MP</th>
                                    <th>W</th>
                                    <th>D</th>
                                    <th>L</th>
                                    <th>GF</th>
                                    <th>GA</th>
                                    <th>GD</th>
                                    <th><b>PTS</b></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="tbl-content">
                        <table cellpadding="0" cellspacing="0" border="1" frame="hsides" rules="rows">
                            <tbody>`;
            standings.forEach(team => {
                content += `<tr${team["Team"] === '{{team}}' ? ' style="background-color:#faf4f3;"' : ''}>
                    <td>${team["Team"]}</td>
                    <td>${team["MP"]}</td>
                    <td>${team["W"]}</td>
                    <td>${team["D"]}</td>
                    <td>${team["L"]}</td>
                    <td>${team["GF"]}</td>
                    <td>${team["GA"]}</td>
                    <td>${team["GD"]}</td>
                    <td><b>${team["PTS"]}</b></td>
                </tr>`;
            });
            content += `</tbody></table></div></div>`;
            document.getElementById('standings').innerHTML = content;
        } else if (section === 'players') {
            const players = playersData[activeSeason];
            let content = `<h2>Season ${activeSeason} Players</h2>
                <div class="results">`;
            players.forEach(player => {
                console.log(player);
                content += `<a href="/players/${player}" style="text-decoration: none; color: inherit;">
                    <h4 class='result-card'>${player}</h4>
                </a>`;
                console.log(player);
            });
            content += `</div>`;
            document.getElementById('players').innerHTML = content;
        }
    }

    document.addEventListener('DOMContentLoaded', function() {
        showContent('results');
    });
</script>

{% endblock %}
